
.td__container{
    display: grid;
    grid-template-columns: auto auto;
}
.td__date{
    margin-left: 20%;
    color:#D9D8D8;
    font-size: 0.9em;
}
.Live{
    background-color: rgba(255, 80, 80, 0.3);
    color:#ED4C5C;
}
.td__badge{
    border-radius: 5px;
    width: 10vw;
}
.Upcoming{
    background-color: rgba(21, 122, 255, 0.1);
    color:#157AFFCC;
}
.Completed{
    background-color: rgba(108, 199, 29, 0.2);
    color:#6CC71D;
}
.p__innerLink{
    color:#157AFF;
}
.session__button{
    background-color: none;
    border: none;
    color:#B9B9B9;
    font-size: 1.5em;
}