.registrants__innerWrap *{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.145);
    padding: 10px;
}

.countryFlag{
    width: 5%;
    border-radius: 50%;
}
table{
    color:rgba(113, 113, 113, 0.8);
}